<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Logo</th>
        <th>Provider</th>
        <th>Domain Name</th>
        <th>Expiration</th>
        <th>Price</th>
        <th>Notes</th>
        <th>Description</th>
        <th width="30%">Action</th>
    </tr>
    </thead>
    <tbody align="center">
    {% for entry in data_arr %}
        <tr id="domain_{{ entry["domain"].id }}">
            <td>
                <img src="{{ entry["domain"].providerAccount.serviceProvider.imageContainer ? asset(entry["domain"].providerAccount.serviceProvider.imageContainer.images[0].getWebPath) : asset("bundles/sevenfe/img/avatar.png")}}">
            </td>
            <td valign="middle">{{ entry["domain"].providerAccount.serviceProvider.name }}</td>
            <td valign="middle">{{ entry["domain"].address }}</td>
            <td class="{{ entry["domain"].IsNearExpiration ? "alertDanger" }}"
                valign="middle">{{ entry["domain"].end|date("m/d/Y") }}</td>
            <td>{{ entry["domain"].price }}$</td>
            <td class="popover-area-hover align-lg-center">
                <button type="button" class="btn notes  btn-success" data-toggle="popover" data-placement="top"
                        data-content="{{ entry["domain"].notes }}" data-original-title="Notes">N
                </button>
            </td>
            <td class="popover-area-hover align-lg-center">
                <button type="button" class="btn notes des btn-success" data-toggle="popover" data-placement="top"
                        data-content="{{ entry["domain"].description }}" data-original-title="Description">D
                </button>
            </td>
            <td>
                    <span class="tooltip-area">
                        <a href="#renew_{{ entry["domain"].id }}" data-toggle="modal" class="btn btn-default btn-sm edit" title="Renew"><i
                                    class="fa fa-refresh"></i></a>
                        <a href="#userAndPass_{{ entry["domain"].id }}" data-toggle="modal" class="btn btn-default btn-sm edit" title="Open"><i
                                    class="fa fa-eye"></i></a>
                        <a href="#edit_domain_{{ entry["domain"].id }}" data-toggle="modal" class="btn btn-default btn-sm edit" title="Edit"><i
                                    class="fa fa-pencil"></i></a>
                        <a href="#delete_domain_{{ entry["domain"].id }}" data-toggle="modal" class="btn btn-default btn-sm" title="Delete"><i
                                    class="fa fa-trash-o"></i></a>
                    </span>

                    <div id="edit_domain_{{ entry["domain"].id }}" class="modal fade "  data-header-color="#0AA699">
                        {{ form_start(entry["edit_form"], {"action": url("seven_fe_client.domain.edit",{"id":entry["domain"].id}) }) }}
                        <div class="modal-header">
                            <button type="button" class="close modal_close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                            <h4 class="modal-title">Edit Domain</h4>
                        </div>
                        <!-- //modal-header-->
                        <div class="modal-body">
                            <div class="form-group">
                                {{ form_label(entry["edit_form"].booking.provider_account) }}
                                <div class="input">
                                    {{ form_widget(entry["edit_form"].booking.provider_account, {"attr":{"class":"form-control"} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(entry["edit_form"].booking.address) }}
                                <div class="input">
                                    {{ form_widget(entry["edit_form"].booking.address, {"attr":{"class":"form-control", "placeholder": "Address"} }) }}
                                </div>
                            </div>
                            <div class="form-group" style="display: inline-block; margin-right:30px;">
                                {{ form_label(entry["edit_form"].booking.start) }}
                                <div class="input">
                                    {{ form_widget(entry["edit_form"].booking.start) }}
                                </div>
                            </div>
                            <div class="form-group" style="display: inline-block;">
                                {{ form_label(entry["edit_form"].booking.end) }}
                                <div class="input">
                                    {{ form_widget(entry["edit_form"].booking.end) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(entry["edit_form"].booking.price) }}

                                <div class="input">
                                    {{ form_widget(entry["edit_form"].booking.price, {"attr":{"class":"form-control"} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(entry["edit_form"].booking.notes) }}
                                <div class="input">
                                    {{ form_widget(entry["edit_form"].booking.notes, {"rows":"3", "attr":{"class":"form-control"} }) }}
                                    {#<textarea rows="3" class="form-control"></textarea>#}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(entry["edit_form"].booking.description) }}
                                <div class="input">
                                    {{ form_widget(entry["edit_form"].booking.description, {"rows":"3", "attr":{"class":"form-control"} }) }}
                                </div>
                            </div>
                            <div class="errorsWrapper"></div>

                        </div>
                        <!-- //modal-body-->
                        <footer class="panel-footer">
                            <button id="" class="btn btn-theme editSubmit" data-wrapper="domainsWrapper" data-route="seven_fe_client.domains.display" type="submit">save</button>
                            <button class="btn modal_reset" type="reset">Cancel</button>
                        </footer>
                        {{ form_rest(entry["edit_form"]) }}
                        {{ form_end(entry["edit_form"]) }}
                    </div>


                <div id="delete_domain_{{ entry["domain"].id }}" class="modal fade" data-width="350" data-header-color="#0AA699">
                    <div class="modal-header">
                        <button style="margin-top:-10px;" type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    </div>
                    <!-- //modal-header-->
                    <div class="modal-body">
                        Are you sure you want to delete this?
                    </div>
                    <!-- //modal-body-->
                    <footer class="panel-footer">
                        <form action="{{ url("seven_fe_client.domain.delete", {"id": entry["domain"].id}) }}" method="post">
                            <button  data-wrapper="domain_{{ entry["domain"].id }}" class="btn btn-theme deleteRecord" type="submit">Delete</button>
                            <button class="btn" data-dismiss="modal" type="reset">Cancel</button>
                        </form>
                    </footer>
                </div>

                <div id="userAndPass_{{ entry["domain"].id }}" class="modal fade " data-width="350"  data-header-color="#0AA699">
                    <div class="modal-header">
                        <button style="margin-top:-10px;" type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    </div>
                    <!-- //modal-header-->
                    <div class="modal-body">
                        <div>
                            <label>User name :</label>
                            <label>{{ entry["domain"].providerAccount.username }}</label>
                        </div>
                        <div>
                            <label>Password :</label>
                            <label class="originalPass" style="display: none;">{{ entry["domain"].providerAccount.password }}</label>
                            <label class="labelvalidation hiddenPass">******</label>
                            <button class="btn btn-default btn-sm passRevealer" type="button"><i class="fa fa-eye"></i></button>
                        </div>

                    </div>
                    <!-- //modal-body-->
                </div>

                <div id="renew_{{ entry["domain"].id }}" class="modal modal fade container in "  data-header-color="#0AA699">
                    <div class="modal-header">
                        <button type="button" class="close modal_close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                        <h4 class="modal-title">Renew</h4>
                    </div>
                    <!-- //modal-header-->
                    <form action="{{ url("seven_fe_client.domain.renew", {"id": entry["domain"].id }) }}" method="post">
                        <div class="modal-body">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Logo</th>
                                    <th>Provider</th>
                                    <th>Expiration</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody align="center">
                                <tr>
                                    <td><img src="assets/img/avatar_2.png"></td>
                                    <td>{{ entry["domain"].providerAccount.serviceProvider.name }}</td>
                                    <td>{{ entry["domain"].end|date("d/m/Y") }}</td>
                                    <td><input name="new_price" type="text" class="form-control"/></td>
                                    <td>
                                        <select name="extension_period" class="form-control input-sm">
                                            <option value="1">1 years</option>
                                            <option value="2">2 years</option>
                                            <option value="3">3 years</option>
                                            <option value="4">4 years</option>
                                            <option value="5">5 years</option>
                                            <option value="6">6 years</option>
                                            <option value="7">7 years</option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table> <!--End Table-->
                        </div>
                        <!-- //modal-body-->
                        <footer class="panel-footer">
                            <button class="btn btn-theme renewRecord" data-wrapper="domainsWrapper" data-route="seven_fe_client.domains.display" type="submit">save</button>
                            <button class="btn modal_reset" data-dismiss="modal" type="reset">Cancel</button>
                        </footer>
                    </form>
                </div>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table> <!--End